* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Noto Serif KR', serif;
    margin: 0;
    padding: 0;
}

header {
    width: 1050px;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 130px auto 60px auto;
    font-size: 80px;
    font-weight: bold;
}

header h2 {
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
}

.h-article {
    width: 620px;
    text-align: center;
    margin: 0 auto 120px auto;
    line-height: 30px;
}

.md {
    width: 1130px;
    margin: auto;
}

.md-us:before {
    content: "";
    display: block;
    width: 61px;
    border-top: 3px solid rgb(79, 79, 179);
    margin: 0 auto 12px;
}

.md-us {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 50px auto;
}

.three-img {
    width: 900px;
    margin: auto;
    overflow: hidden;
}

.img-1, .img-2, .img-3 {
    float: left;
    margin: 0 70px 0 75px;
}

.img-1 p, .img-2 p, .img-3 p {
    margin: 30px 0 70px 0;
    text-align: center;
}

.mmd-article {
    margin-bottom: 90px;
}

article .con-txt {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 150px;
}

.p-txt {
    margin-left: 40px;
}

.ceo {
    overflow: hidden;
    width: 1050px;
    margin: 0 auto 150px auto;
}

.ceo:before {
    content: "";
    display: block;
    width: 61px;
    border-top: 3px solid rgb(79, 79, 179);
    margin: 0 auto 12px;
}

.ceo-txt {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 35px auto;
    
}

aside {
    float: left;
}

.timg {
    float: left;
    margin: 0 200px 0 25px;
}

.timg img {
    margin-bottom: 15px;
}

.timg p {
    text-align: center;
    font-weight: bold;
    font-size: 15px;

}

.name {
    height: 55px;
    border-bottom: 2px dashed rgb(107, 107, 107);
    margin-bottom: 20px;
    margin-top: 30px;
}

.k-name, .e-name {
    float: left;
}

.k-name {
    font-size: 30px;
    font-weight: bold;
}

.e-name {
    
    margin-top: 17px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(107, 107, 107);
}

aside ul li {
    clear: both;
    list-style: none;
    line-height: 25px;
}

.small {
    font-size: 11px;
}

.d-img {
    width: 1050px;
    margin: 0 auto 150px;
}

.d-img img {
    margin: 10px;
}

.d-img img:nth-child(1), .d-img img:nth-child(4) {
    margin-left: 50px;
}

.info {
    width: 1050px;
    margin: auto;
    font-size: 18px;
}

.info p {
    margin: 10px;
}

.map {
    width: 800px;
    border: 1px solid gainsboro;
    height: 500px;
    margin: 40px auto 100px;
    text-align: center;
    line-height: 500px;
}

footer {
    background-color: rgb(248, 248, 248);
}

.copyright {
    overflow: hidden;
    width: 1050px;
    margin: auto;
}

.copyright-1 {
    width: 300px;
    height: 160px;
    margin: auto;
    overflow: hidden;
    float: left;
}

.ehome ul li, .eabout ul li {
    list-style: none;
    margin-bottom: 15px;
}

.ehome ul li:nth-child(1), .eabout ul li:nth-child(1) {
    margin-top: 40px;
}

.ehome, .eabout {
    float: left;
    margin-right: 60px;
}

a {
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-weight: bold;
}

.blank {
    width: 450px;
    float: left;
    height: 160px;
}

.copyright-2 {
    width: 300px;
    height: 160px;
    margin: auto;
    overflow: hidden;
    float: left;
    line-height: 160px;
}

.icon ul li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

.dddd {
    clear: both;
    overflow: hidden;
    border-top: 2px solid rgb(212, 212, 212);
}

.dtdd dl dt, .dtdd dl dd {
    float: left;
    font-size: 13px;
    margin: 20px 16px 50px 0;
}

.dtdd dl {
    padding-right: 15px;
}

.dddd p {
    float: right;
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
}

.dtdd dl dt {
    font-weight: bold;
}
