@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    height: 500vh;
}


.top-gnb {
    width: calc(100% - 240px);
    min-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.top-gnb::after,
.gnb::after {
    position: absolute;
    content: '';
    width: 100%;
    top: 40px;
    left: 0;
    border-bottom: 1px solid #BCBCBC;
}

.gnb::after {
    top: 100px;
}

.top-gnb .search-form {
    width: 340px;
    height: 40px;
    border-left: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
    line-height: 38px;
}

.top-gnb .search-form:hover {
    background-color: #EEEEEE;
}

.top-gnb .search-form #search-input {
    width: 220px;
    padding: 0;
    margin: 0 30px 0 20px;
    border-radius: 2px;
    border: none;
    background: transparent;
}

.top-gnb .search-form #search-btn {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    font-stretch: semi-condensed;
}

.top-gnb .search-form #search-btn:hover,
.top-gnb .top-util li a:hover {
    color: #002bd2;
}

.top-gnb .top-util {
    display: flex;
    width: 422px;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    justify-content: space-between;
    align-items: center;
}

.top-gnb .top-util li {
    position: relative;
}


.top-gnb .top-util li:first-child {
    margin-left: 50px;
}

.top-gnb .top-util .icon-comp,
.top-gnb .top-util .icon-cart {
    margin-left: 14px;
    font-size: 12px;
}


.top-gnb .top-util .icon-comp::before,
.top-gnb .top-util .icon-cart::before {
    position: absolute;
    content: '';
    background-image: url('./src/compare.png');
    background-size: 14px;
    width: 14px;
    height: 14px;
    top: 0;
    left: -18px;
}

.top-gnb .top-util .icon-cart::before {
    background-image: url('./src/cart.png');
}

.top-gnb .top-util .icon-comp:hover::before {
    background-image: url('./src/compare_hover.png');
}

.top-gnb .top-util .icon-cart:hover::before {
    background-image: url('./src/cart_hover.png');
}


.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: calc(100% - 240px);
    min-width: 1020px;
    margin: 0 auto;
}

.gnb img {
    width: 80px;
    height: 24px;
}

.gnb .gnb-menu {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.gnb .gnb-menu-item {
    height: 60px;
    line-height: 60px;
}

.gnb .gnb-menu-item:nth-child(2) {
    margin: 0 60px;
}

.gnb .gnb-menu-tit{
    cursor: text;
}

.gnb .gnb-menu-tit:hover {
    color: #002bd2;
}

.gnb-menu-list {
    line-height: initial;
}
.gnb .gnb-menu-item:first-child .gnb-menu-list li:nth-child(3) {
    margin-top: 35px; 
    font-size: 15px;
    font-weight: 700;
}

.gnb-menu-list {
    position: absolute;
    display: none;
    box-sizing: border-box;
    top: 60px;
    padding: 30px 30px 10px 30px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #282828;
    color: white;
    z-index: 1;
}

.gnb .gnb-menu-item:first-child .gnb-menu-list {
    width: 165px;
    transform: translate(-20%, 0);
}

.gnb .gnb-menu-item:nth-child(2) .gnb-menu-list {
    width: 695px;
    transform: translate(-51.5%, 0);
}

.gnb .gnb-menu-item:last-child .gnb-menu-list {
    width: 195px;
    transform: translate(-22%, 0);
}

.gnb .gnb-menu-item:hover .gnb-menu-list {
    display: block;
}

.gnb .gnb-menu-item:nth-child(2) .gnb-menu-list::after {
    position: absolute;
    content: '';
    top: 5%;
    left: 27%;
    height: 90%;
    border-right: 1px solid #444444;
}

.gnb-menu-list li {
    display: flex;
    margin-bottom: 17px;
}

.gnb .gnb-menu-list li a {
    color: white;
}

.gnb .gnb-menu-list li a:hover {
    color: #1A59FF;
}

.gnb-menu-list .gnb-menu-product em{
    flex-basis: 30%;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.gnb-menu-list .gnb-menu-product a:not(em a) {
    margin-right: 15px;
    font-size: 14px;
}

/*  */

.slide {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    border-bottom: 1px solid black;
    width: auto;
    height: auto;
}

.slide-wrap {
    width: calc(100% - 240px);
    margin: 40px auto 120px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.slide-contents {
    position: relative;
    height: 900px;
    word-break: keep-all;
    opacity: 0;
    transition: all 1s;
    grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.onSlide{
    opacity: 1;
    transition: all 1s;
}

.slide-contents .contents-img {
    position: absolute;
    right: 0;
}

.slide-contents .contents-txt {
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -3px;
    width: 393px;
    padding-top: 128px;
}

.slide-contents .contents-tit {
    font-size: 80px;
    line-height: 104px;
    font-weight: 700;
    display: inline-block;
    margin: 10px 0 36px;
}

.slide-contents .contents-video {
    position: relative;
    display: flex;
    align-items: center;
}

.slide-contents .contents-video::before {
    position: absolute;
    content: '';
    width: 28px;
    height: 28px;
    top: 0;
    left: 72px;
    background: url('./src/play.svg');
}

.slide-contents .contents-video img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 12px;
}

.slide-contents .contents-video span {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #999;
}

.slide-contents .contents-video span:hover {
    color: #000;
}

.slide-btn {
    position: absolute;
    left: 120px;
    bottom: 281px;
}

.slide-btn button {
    border: none;
    background: transparent;
    font-size: 20px;
    font-family: initial;
    position: relative;
}

.slide-btn button:hover {
    color: #1A59FF;
    cursor: pointer;
}

.slide-btn button:hover::before {
    border-top: 1.5px solid #1A59FF;
    border-right: 1.5px solid #1A59FF;
}


.slide-btn .slide-btn-pre {
    padding-left: 25px;
}

.slide-btn .slide-btn-pre::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1.5px solid #2c2c2c;
    border-right: 1.5px solid #2c2c2c;
    display: inline-block;
    transform: rotate(225deg);
    top: 12px;
    left: 0;
}

.slide-btn .slide-btn-next {
    padding-right: 25px;
}

.slide-btn .slide-btn-next::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1.5px solid #2c2c2c;
    border-right: 1.5px solid #2c2c2c;
    display: inline-block;
    transform: rotate(45deg);
    top: 12px;
    right: 0;
}

/*  */

.task {
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 1px solid black;
}

.task .task-wrap {
    width: 1220px;
    margin: 80px auto 0;
}

.task .task-txt {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.task-txt .task-tit {
    font-size: 34px;
    line-height: 44px;
}

.task-txt .task-link {
    font-size: 13px;
    color: #002BD2;
}

.task-txt .task-link:hover {
    text-decoration: underline;
}

.task .task-list {
    clear: both;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    height: 1800px;
    margin-top: 35px;
    text-align: center;
}

.task .task-list a {
    display: block;
}

.task .task-list a:hover {
    filter: opacity(90%);
}

.task .task-list strong {
    width: 100%;
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin: 30px 0 10px;
}

.task .task-list p {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 80px;
}