@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.top-gnb {
    width: calc(100% - 240px);
    min-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.top-gnb::after,
.gnb::after {
    position: absolute;
    content: '';
    width: 100%;
    top: 40px;
    left: 0;
    border-bottom: 1px solid #BCBCBC;
}

.gnb::after {
    top: 100px;
}

.top-gnb .search-form {
    width: 340px;
    height: 40px;
    border-left: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
    line-height: 38px;
}

.top-gnb .search-form:hover {
    background-color: #EEEEEE;
}

.top-gnb .search-form #search-input {
    width: 220px;
    padding: 0;
    margin: 0 30px 0 20px;
    border-radius: 2px;
    border: none;
    background: transparent;
}

.top-gnb .search-form #search-btn {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    font-stretch: semi-condensed;
}

.top-gnb .search-form #search-btn:hover,
.top-gnb .top-util li a:hover {
    color: #002bd2;
}

.top-gnb .top-util {
    display: flex;
    width: 422px;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    justify-content: space-between;
    align-items: center;
}

.top-gnb .top-util li {
    position: relative;
}


.top-gnb .top-util li:first-child {
    margin-left: 50px;
}

.top-gnb .top-util .icon-comp,
.top-gnb .top-util .icon-cart {
    margin-left: 14px;
    font-size: 12px;
}


.top-gnb .top-util .icon-comp::before,
.top-gnb .top-util .icon-cart::before {
    position: absolute;
    content: '';
    background-image: url('./src/compare.png');
    background-size: 14px;
    width: 14px;
    height: 14px;
    top: 0;
    left: -18px;
}

.top-gnb .top-util .icon-cart::before {
    background-image: url('./src/cart.png');
}

.top-gnb .top-util .icon-comp:hover::before {
    background-image: url('./src/compare_hover.png');
}

.top-gnb .top-util .icon-cart:hover::before {
    background-image: url('./src/cart_hover.png');
}


.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: calc(100% - 240px);
    min-width: 1020px;
    margin: 0 auto;
}

.gnb img {
    width: 80px;
    height: 24px;
}

.gnb .gnb-util {
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.gnb .gnb-util li:nth-child(2) {
    margin: 0 60px;
}

.gnb .gnb-util a {
    cursor: text;
}

